:root {}


.ubicacion {

    background-color: #1d150b !important;
    color: #FFC000;
    margin: 30px 0px;
    padding: 5rem;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d150b;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);

}

.ubicacion p {
    color: white !important;
}



.card.h-100.shadow-sm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}

.etiqueta-nuevo {
    position: absolute;
    top: -2px;
    right: 0px;
    background-color: #FFC000;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    cursor:pointer;
    padding:2rem 0.3rem

}

.card.h-100.shadow-sm img {
    margin: 30px 0px;
    height: 50px;
    width: fit-content;
    border-radius: 50%;
}


.btn.btn-primary {
    width: 150px;
    background-color: #fe3e00;
    border-color: transparent;
    transition: transform 0.4s;
}

.btn.btn-primary:hover {
    background-color: #1d150b;
    border-color: transparent;
    transform: translateY(-5px)
}



.card-body.d-flex.flex-column.justify-content-between,
.card-body.d-flex.flex-column.justify-content-between div .card-title,
.card-body.d-flex.flex-column.justify-content-between div .cart-text {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}